# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Environment files
.env

# Database
*.sqlite3

# Logs
*.log

# OS/system files
.DS_Store
Thumbs.db

# IDE/project settings
.vscode/
.idea/
*.swp
